.DS_Store
.cache-main
.cache-tests
.history
bin
target
project/target
project/project/target
converted
*~
.worksheet
/.classpath
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.scala-ide.sdt.core.prefs
/.settings/org.eclipse.jdt.core.prefs
/exp/
/samples
/data

